.contact-card {
   
    border-radius: 8px;
    padding: 20px;
  
  }

  .top-column{
    display: flex;
  }
  .contact-card h1 {
    font-size: 28px;
    font-weight: bold;
  }
  .contact-card i {
    font-size: 24px;
    color: #fd7e14;
  }
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fd7e14;
    
  }

  .social-icons .bi{
    color: white !important;
    font-size: 12px;
  }
  .social-icons a:hover {
    background-color: #e05b0c;
  }


  .custom-design{
    background-color: transparent;
    border: none;
  }


 @media(max-width:750px){
  .top-column{
   display: flex;
   flex-direction: column-reverse;
   column-gap: 10px; 
  }
 }