.course-details {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
   
  }
  
  .courses-container {
    display: flex;
   
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .course-card {
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    text-align: left;
  }
  
  .course-card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .course-card ul {
     font-weight: 500;
   box-sizing: border-box;
    margin:0 0 1.5em 3em;
    font-family: Frank Ruhl Libre, serif;
    li{
      font-size: 20px !important;
    }
  }
  
  .course-card ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
  }

  .course-details .MuiBox-root{
    width: 100%;
  }

  .course-details h2 ,h3,p{
    font-family: Frank Ruhl Libre, serif !important;
  }

  .course-details h2{
    display: flex;
    align-items: center;
    column-gap: 18px;
    padding-left: 10px;
  }

  p{
    font-size: 18px;
  }

  .container-fluid{
   padding: 10px 40px;
  }

  
  @media (max-width: 768px) {
    .courses-container {
      flex-direction: column;
      align-items: center;
    }
  
    .course-card {
     
        border-radius: 8px;
        width: 100%;
        padding: 0px;
        text-align: left;
      ul{
        margin: 0;
      }
    }

    .course-details{
      padding: 0;
    }

    .course-card ul li {
      font-size: 16px !important;
    }
    .container-fluid{
      margin-top: 85px !important;
    }
  }
  

  .MuiTabs-flexContainer.css-1wxkzlj-MuiTabs-flexContainer{
    display: flex;
    justify-content: center;
  }

  .lottie-course{
    width: 80px;
    height: 80px;
  }
  .lottie-wrap{
    display: flex;
    align-items: center;
  }